<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nvbn.hubotforglass">

    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service
            android:name=".RecognizerService"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/hubot_voice_trigger" />
        </service>

        <activity android:name=".MenuActivity" />

    </application>

</manifest>
